In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('Emergency 911 Calls.csv')

In [3]:
df.head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,12/10/2015 17:10,NEW HANOVER,REINDEER CT & DEAD END,1.0
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,12/10/2015 17:29,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1.0
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,12/10/2015 14:39,NORRISTOWN,HAWS AVE,1.0
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,12/10/2015 16:47,NORRISTOWN,AIRY ST & SWEDE ST,1.0
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,12/10/2015 16:56,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423910 entries, 0 to 423909
Data columns (total 9 columns):
lat          423910 non-null float64
lng          423909 non-null float64
desc         423909 non-null object
zip          371780 non-null float64
title        423909 non-null object
timeStamp    423909 non-null object
twp          423750 non-null object
addr         423909 non-null object
e            423909 non-null float64
dtypes: float64(4), object(5)
memory usage: 29.1+ MB

In [5]:
df['zip'].value_counts().head(5)

19401.0    28656
19464.0    27948
19403.0    21631
19446.0    20496
19406.0    14097
Name: zip, dtype: int64

In [6]:
#type of call (FD, EMS, Traffic) & how many of each type (1)
df['title'].unique

<bound method Series.unique of 0                 EMS: BACK PAINS/INJURY
1                EMS: DIABETIC EMERGENCY
2                    Fire: GAS-ODOR/LEAK
3                 EMS: CARDIAC EMERGENCY
4                         EMS: DIZZINESS
5                       EMS: HEAD INJURY
6                   EMS: NAUSEA/VOMITING
7             EMS: RESPIRATORY EMERGENCY
8                  EMS: SYNCOPAL EPISODE
9            Traffic: VEHICLE ACCIDENT -
10           Traffic: VEHICLE ACCIDENT -
11           Traffic: VEHICLE ACCIDENT -
12           Traffic: VEHICLE ACCIDENT -
13           Traffic: VEHICLE ACCIDENT -
14           Traffic: VEHICLE ACCIDENT -
15           Traffic: VEHICLE ACCIDENT -
16            EMS: RESPIRATORY EMERGENCY
17                        EMS: DIZZINESS
18                 EMS: VEHICLE ACCIDENT
19           Traffic: DISABLED VEHICLE -
20           Traffic: VEHICLE ACCIDENT -
21           Traffic: DISABLED VEHICLE -
22                  Fire: APPLIANCE FIRE
23           Traffic: DISABLED VEHICLE -
24           Traffic: VEHICLE ACCIDENT -
25                 EMS: GENERAL WEAKNESS
26                      EMS: HEAD INJURY
27        Fire: CARBON MONOXIDE DETECTOR
28           Traffic: VEHICLE ACCIDENT -
29           Traffic: DISABLED VEHICLE -
                       ...
423880       Traffic: ROAD OBSTRUCTION -
423881       Traffic: VEHICLE ACCIDENT -
423882       Traffic: VEHICLE ACCIDENT -
423883              EMS: SUBJECT IN PAIN
423884          Fire: FIRE INVESTIGATION
423885       Traffic: DISABLED VEHICLE -
423886       Traffic: DISABLED VEHICLE -
423887                     EMS: SEIZURES
423888                  Fire: FIRE ALARM
423889       Traffic: VEHICLE ACCIDENT -
423890          Fire: FIRE POLICE NEEDED
423891       Traffic: VEHICLE ACCIDENT -
423892                  Fire: FIRE ALARM
423893          Fire: FIRE INVESTIGATION
423894                  EMS: FALL VICTIM
423895             EMS: SYNCOPAL EPISODE
423896       Traffic: DISABLED VEHICLE -
423897       Traffic: VEHICLE ACCIDENT -
423898       Traffic: DISABLED VEHICLE -
423899       Traffic: VEHICLE ACCIDENT -
423900       Traffic: DISABLED VEHICLE -
423901          EMS: MEDICAL ALERT ALARM
423902       Traffic: DISABLED VEHICLE -
423903       Traffic: DISABLED VEHICLE -
423904       Traffic: VEHICLE ACCIDENT -
423905       Traffic: VEHICLE ACCIDENT -
423906       Traffic: VEHICLE ACCIDENT -
423907       Traffic: VEHICLE ACCIDENT -
423908       Traffic: DISABLED VEHICLE -
423909                               NaN
Name: title, Length: 423910, dtype: object>

In [7]:
df['title'].nunique()

141

In [8]:
df['title'].iloc[0]

'EMS: BACK PAINS/INJURY'

In [9]:
x = df['title'].iloc[0]

In [10]:
x.split(':')[0]

'EMS'

In [ ]:
#lambda function to isolate emergency types by type (there are 3 - ems, fire, traffic)

df['Reason']=df['title'].apply(lambda title:title.split(':')[0])

In [ ]:
#prints the type

df['Reason']

In [ ]:
df['Reason'].value_counts().head(2)

In [ ]:
df['Reason'].value_counts().head(1)

In [ ]:
#sums the types by type

df['Reason'].value_counts()

In [ ]:
df['Reason'].value_counts().head(3)

In [ ]:
#seaborn count plot

sns.countplot(x='Reason', data = df, palette = 'viridis')

In [ ]:
#which townships called the most (2a)
df['twp'].value_counts().head(5)

In [ ]:
#which townships called the least (2b)
df['twp'].value_counts().tail(5)

In [ ]:
#which date has the most calls(3a)
df['timeStamp'].max()

In [ ]:
#which date has the least calls(3b)
df['timeStamp'].min()

In [ ]:
#what time of day has the most calls(6)

In [ ]:
#top 5 traffic, fire, ems, other(7)

In [ ]:
#plot location of 911 calls(8)

plt.scatter(x=df['lng'], y=df['lat'])
plt.show()

In [ ]:
#which 911 call had "no zip code" & what was the title?(9)

df[df['zip'] == '']['title']

In [ ]:
#what stations answered the most calls(10)

df['Location']=df['desc'].apply(lambda title:title.split(';')[2])

In [ ]:
df['Location']

In [ ]:
df['Location'].head()

In [ ]:
#during which quarter/monthly/season had the most 911 calls(4)

In [ ]:
#distance between 911 calls(5)

In [ ]:
sns.countplot(x='Reason', data = df, palette = 'summer')

In [ ]:
sns.countplot(x='Reason', data = df, palette = 'plasma')